@charset "utf-8";
/* 去除連結虛線*/
a, a:hover, a:focus, .whattoeat, #back_to_list
{
	outline: none; /* for Firefox */
	behavior:expression(this.onFocus=this.blur());
}
.main
{
	padding-bottom:100px;
	background-color:#D9EFEC;
	text-align:center;
}
.main_title
{
	color:#34AC98;
	font-size:60px;
}
.main_text
{
	color:#34AC98;
	font-size:28px;
	padding-top:80px;
}
.main .whattoeat
{
	background-color:#F97062;
	border-style:none;
	margin-top:30px;
	width:350px;
	height:90px;
	font-size:34px;
}
.main .whattoeat:hover,.main .whattoeat:active
{
	background-color:#F25851;
}

/* 餐廳細節 */
.res_detail
{
	margin-top:50px;
	text-align:left;
	line-height:30px;
	font-size:15px;	
}
.res_detail a
{
	color: #F97062;
}
.res_detail a:hover
{
	color: #F25851;
}
.basic_info
{
	color: #34AC98;
	font-weight: bold;
	padding-bottom:20px;
	border-bottom:#999 dashed 1px;
	width:70%;
}

.blog_info
{
	color: #34AC98;
	font-weight: bold;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:#999 dashed 1px;
	width:70%;	
}
.basic_info span, .blog_info span
{
	color:#666;
	font-weight:normal;
}
.describe_info
{
	padding:20px 0px;
	border-bottom:#999 dashed 1px;
	color:#666;
	font-weight:normal;
	width:70%;
}
.share_info
{
	padding:20px 0px;
	color:#666;
	font-weight:normal;
	width:70%;
}

/* 餐廳圖片 */
.res_pic
{
	margin-top:50px;
	text-align:right;
}
.res_pic img
{
	width:375px;
	height:500px;
	padding:10px;
	background-color:#FFF;
	border:#CCC solid 1px;
}
/* 【吃什麼】條件選單 */
.main_option
{
	margin-top:30px;
}
.circle_btn
{
	width:30px;
	height:30px;
	border-radius:15px;
	color:#FFF;
	display:block;
	margin:0px auto;
	background-color:#F97062;
	text-align:center;
}
.circle_btn img
{
	width:20px;
	height:20px;
	margin-top: 5px;
}
.circle_btn:hover
{
	background-color:#F25851;
	border-color:#F25851;
	cursor:pointer;
}
#option_choose
{
	display:none;	
}
.option_select
{
	text-align:left;
	margin:20px auto;
}
.option_select b
{
	color:#34AC98;
	font-size:15px;
	padding-left:14px;
	line-height:35px;
}
.not_found
{
	margin:20px auto 0px auto;
	color:#FFF;
	font-size:15px;
	line-height:35px;
	background-color:#34AC98;
	border-radius:5px;
	width:97%;
	display:none;
}
.remember_option
{
	color:#34AC98;
	font-size:15px;
	margin-top:20px;
	font-weight:bold;
}
.share_list
{
	width:60%;
	margin:0px auto;
}
.share_links img
{
	width:40px;
	height:40px;
}
.share_links a
{
	background-color:#F97062;
	width:40px;
	height:40px;
	border-radius:5px;
	display:block;
	margin:20px auto;
}
.share_links a:hover,.share_links a:active
{
	background-color:#F25851;
	color:#000;
}
/* 推薦區塊 */
.share
{
	padding-bottom:100px;
	text-align:center;
	font-size:15px;
}
.plz-share
{
	font-size:60px;
	padding-top:80px;
}
.recommend
{
	margin-top:50px;
	line-height:30px;
	display:block;
}
.recommend img
{
	width:187px;
	height:250px;
	padding:10px;
	margin-bottom:10px;
	background-color:#FFF;
	border:#CCC solid 1px;
}
.recommend span
{
	color:#666;
}
.recommend a
{
	color:#F97062;
}
.recommend a:hover, .recommend a:active
{
	color:#F25851;
}
#back_to_list
{
	background-color:#F97062;
	border-style:none;
	margin-top:120px;
	width:250px;
	height:45px;
	font-size:15px;
}
#back_to_list:hover, #back_to_list:active
{
	background-color:#F25851;
}

/* 名稱提示 */
.name_remind_class
{
	position: absolute;
	top:36px;
	width: 180px;
	margin-left: -100px;
	text-align: center;
	font-style:normal;
	font-weight:normal;
	background:#FFF;
	border-radius:5px;
	display:none;
}
.name_remind_class::after
{
	content: " ";
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: none;
	border-bottom: 5px solid rgba(255, 255, 255, 1);
}

/* 地圖提示 */
.map_remind_class
{
	position: absolute;
	top:95px;
	width: 150px;
	margin-left: -100px;
	text-align: center;
	font-style:normal;
	font-weight:normal;
	background:#FFF;
	border-radius:5px;
	display:none;
}
.map_remind_class::after
{
	content: " ";
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: none;
	border-bottom: 5px solid rgba(255, 255, 255, 1);
}

/* 新增食記 */
.modal-title
{
	font-size:15px;
}
.blog_btn
{
	background-color:#F97062;
	border-style:none;
	height:45px;
	font-size:15px;
	color:#FFF;
}
.blog_btn:hover, .blog_btn:active
{
	background-color:#F25851;
	font-size:15px;
	color:#FFF;
}
.cancel_btn
{
	height:45px;
	font-size:15px;
}
.form-control
{
	font-size:15px;
	height:40px;
	margin:10px 0px;
	border:none;
}
.form-control:focus
{
	box-shadow:0px 0px 10px 1px #fdb0a8;
	-webkit-box-shadow:0px 0px 10px 1px #fdb0a8;
}
.blogname
{
	width:30%;
}
#res_blogname, #res_bloglink
{
	border:#CCC solid 1px;
}
/* 驗證訊息 */ 
.msg
{
	margin-top:10px;
	color:#FFF;
	font-size:15px;
	line-height:30px;
	background-color:#34AC98;
	border-radius:5px;
	display:none;
	text-align:center;
}
#msg_blogname
{
	width:30%;
}

/* 感謝分享 */
.saveok_content
{
	margin-top:120px;
	padding:30px 0px;
	color:#FFF;
	font-size:15px;
	line-height:30px;
	border:none;
	background-color:#34AC98;
	text-align:center;
}
.saveok_btn
{
	border:none;
	height:45px;
	margin-top:20px;
	width: 100px;
}

@Media (max-width: 800px)
{
	/* 修正 bootstrap padding */
	.col-xs-12, .col-lg-12
	{
		padding-left:0px;
		padding-right:0px;
	}
	.row
	{
		margin-left:0px;
		margin-right:0px;
	}
	.main
	{
		padding-bottom:50px;
	}
	.main_title
	{
		font-size:28px;
	}
	.main_text
	{
		font-size:15px;
		padding-top:50px;
	}
	.main .whattoeat
	{
		margin-top:30px;
		width:100%;
		height:45px;
		font-size:15px;
	}
	
	.share
	{
		padding-bottom:50px;	
	}
	.share_links a
	{	
		margin:10px auto;
	}
	.plz-share
	{
		font-size:28px;
		padding-top:40px;
	}
	.dont_like
	{
		font-size:12px;
		margin-top:20px;
	}
	.res_detail
	{
		margin-top:20px;
		text-align:center;
		line-height:30px;
	}
	.basic_info
	{
		width:100%;
	}
	.blog_info
	{
		width:100%;
	}
	.describe_info
	{
		width:100%;
	}
	.share_info
	{
		width:50%;
		margin:0px auto;
	}
	.res_pic
	{
		margin-top:20px;
		text-align:center;
	}
	.res_pic img
	{
		width:187px;
		height:250px;
	}
	.not_found
	{
		font-size:12px;
		width:90%;
	}
	.recommend
	{
		line-height:20px;
	}
	.back_to_list
	{
		margin-top:50px;
		width:100%;
	}
	.blogname
	{
		width:80%;
	}
	#msg_blogname
	{
		width:80%;
	}
}