@charset "utf-8";
/* CSS Document */

body
{
	padding: 30px;
}
.navbar
{
	margin-bottom: 30px;
}
.navbar-collapse, .navbar-collapse li
{
	font-size:15px;
}
.list_a
{
	text-decoration:none;
	color : black;
}
.list_a:hover
{
	text-decoration:none;
	color : black;
}
.list_a .col-12-lg:hover
{
	background-color: #f1f1f1;
}
.col-12-lg
{
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	font-size:15px;
	padding:10px 60px;
	margin:10px 0px;
}
.row
{
	margin:0px;
}
form,.form-control
{
	font-size:15px;
}
.msg
{
	color:red;
	display:none;
}
#res_name
{
	width:30%;
}
#res_area_num
{
	width:52px;
	display:inline-block;
}
#res_tel_num
{
	width:92px;
	display:inline-block;
}
#res_region
{
	width:100px;
	display:inline-block;
}
#res_section
{
	width:150px;
	margin-left:10px;
	display:inline-block;
}
#res_address
{
	margin-top:10px;
	width:60%;
}
#res_foodtype
{
	width:120px;
}
#res_price
{
	width:70px;
	display:inline-block;
	margin-right:5px;
}
.res_time
{
	width:45px;
	display:inline-block;
}
#res_note
{
	width:60%;
}
#img_url
{
	width:80%;
}

.blogname
{
	margin-top:10px;
	width:30%;
}
.bloglink
{
	margin-top:10px;
	width:60%;
	margin-bottom:20px;
}

@Media (max-width: 767px)
{
	body
	{
		padding: 10px;
	}
	.container
	{
		padding:0px;
	}
	#res_name,#res_address,#res_note
	{
		width:100%;
	}
	
}