body {
	padding: 30px;
}

.navbar {
	margin-bottom: 30px;
}
.navbar-collapse, .navbar-collapse li
{
	font-size:15px;
}
.list_a
{
	text-decoration:none;
	color : black;
}
.list_a:hover
{
	text-decoration:none;
	color : black;
}
.list_a .col-12-lg:hover
{
	background-color: #f1f1f1;
}
.col-12-lg
{
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	font-size:15px;
	padding:10px 60px;
	margin:10px 0px;
}
.fix_blog
{
	float:right;
	margin-top:30px;
	display:inline-block;
}
.edit_blog_detail
{
	display:none;
}
.edit_blogname_input
{
	width:50%;
	display:inline-block;
}
.edit_bloglink_input
{
	width:80%;
}
.row
{
	margin:0px;
}
.pages
{
	text-align: center;
}
.form-group
{
	display: inline-block;
	font-size: 15px;
}
.form-control
{
	font-size: 15px;
}
@Media (max-width: 767px)
{
	body
	{
		padding: 10px;
	}
	.container
	{
		padding:0px;
	}
	.form-group
	{
		display: block;
	}
}